<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Supermercado.Properties.Settings.SupermercadoConnectionString"
            connectionString="Data Source=MACCEAU-PC\SQLEXPRESS;Initial Catalog=Supermercado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>